@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - supmusic</title>
    <link rel="stylesheet" href="~/lib/halfmoon/css/halfmoon.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/supmusic.styles.css" asp-append-version="true"/>
    <script src="https://kit.fontawesome.com/4f3834f0ec.js" crossorigin="anonymous"></script>
</head>
<body data-set-preferred-mode-onload="true">
<div class="page-wrapper with-navbar @(SignInManager.IsSignedIn(User) ? "with-sidebar with-navbar-fixed-bottom" : "")" data-sidebar-type="overlayed-sm-and-down">
    <!-- Sticky alerts (toasts), empty container -->
    <div class="sticky-alerts"></div>
    <!-- Navbar -->
    <nav class="navbar">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="navbar-content">
                <button class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    <span class="sr-only">Toggle sidebar</span> <!-- sr-only = show only on screen readers -->
                </button>
            </div>
        }
        <!-- Navbar brand -->
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">
            Supmusic
        </a>
        <!-- Navbar form (inline form) -->
        <div class="form-inline d-none d-md-flex ml-auto">
            <ul class="navbar-nav">
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="mr-15" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                        <button type="submit" class="btn btn-action">
                            <i class="fa fa-sign-out"></i>
                        </button>
                    </form>
                }
                else
                {
                    <a class="mr-15" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                }
            </ul>
        </div>
        <!-- Navbar content (with the dropdown menu) -->
        <div class="navbar-content d-md-none ml-auto">
            <!-- d-md-none = display: none on medium screens and up (width > 768px), ml-auto = margin-left: auto -->
            <div class="dropdown with-arrow">
                <button class="btn" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-btn-1">
                    Menu
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right w-200" aria-labelledby="navbar-dropdown-toggle-btn-1">
                    <!-- w-200 = width: 20rem (200px) -->
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="dropdown-item text-center mr-15" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                    }
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-content">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                                <button type="submit" class="btn btn-block btn-action w-full">
                                    <i class="fa fa-sign-out"></i> Logout
                                </button>
                            </form>
                        }
                        else
                        {
                            <div class="d-flex flex-column">
                                <a class="btn btn-block btn-action w-full mb-5" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                <a class="btn btn-block btn-action w-full" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
            
        <button onclick="toggleDarkMode()" class="btn btn-action ml-10" id="toggleDarkModeBtn">
            <i class="fas fa-moon"></i>
        </button>
    </nav>
    @if (SignInManager.IsSignedIn(User))
    {
        <!-- Sidebar overlay -->
        <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-menu">
                <!-- Sidebar links and titles -->
                <a asp-controller="Playlist" asp-action="Index" class="sidebar-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Playlist" ? "active" : "")">
                    <i class="fa fa-list mr-5"></i> Playlists
                </a>
                <a asp-controller="Song" asp-action="Index" class="sidebar-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Song" ? "active" : "")">
                    <i class="fa fa-music mr-5"></i> Songs
                </a>
            </div>
        </div>
    }
    <!-- Content wrapper -->
    <div class="content-wrapper">
        <div class="container">
            <main role="main" class="container pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <!-- Navbar fixed bottom -->
    @if (SignInManager.IsSignedIn(User))
    {
        <nav class="navbar navbar-fixed-bottom text-center" style="height: 90px;">

            <div class="row w-full">
                <div class="col-4 text-left">
                    <div class="h-full d-flex align-items-center">Currently playing : <span class="ml-5" id="songInProgressText"></span></div>
                </div>
                <div class="col-4">
                    <div class="d-flex flex-column">
                        <div class="mb-5">
                            <button id="previousSong" class="me-1 btn" onclick="previousPlaylistSong()">
                                <i class="fa fa-backward"></i>
                            </button>
                            <button id="pauseButton" class="me-1 btn" onclick="pauseSong()">
                                <i class="fa fa-play"></i>
                            </button>
                            <button id="nextSong" class="me-1 btn" onclick="nextPlaylistSong()">
                                <i class="fa fa-forward"></i>
                            </button>
                            <button class="btn" onclick="stopSong()">
                                <i class="fa fa-stop"></i>
                            </button>
                        </div>
                        <div id="waveform"></div>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <input
                        id="volumeSlider"
                        type="range"
                        name="volume-slider"
                        min="0"
                        max="100"
                        value="50"/>
                    <button onclick="openQueueModal()" class="ml-5 btn">
                        <i class="fa fa-list"></i>
                    </button>
                </div>
            </div>
        </nav>
        
        <div class="modal ie-scroll-fix" id="queue-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div id="modal-queue-content" class="modal-content w-600">
                    <a href="#" class="close" role="button" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                    <h5 class="modal-title">Queue</h5>
                    <div id="queue-modal-content"></div>
                </div>
            </div>
        </div>
        
        <div class="modal ie-scroll-fix" id="add-song-to-playlist-modal" tabindex="-1" role="dialog">
            <div class="modal-add-song-to-playlist-content" role="document">
                <div id="modal-queue-content" class="modal-content w-600">
                    <a href="#" class="close" role="button" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                    <h5 class="modal-title">Add to playlist</h5>
                    <div id="add-song-to-playlist-modal-content"></div>
                </div>
            </div>
        </div>
    }
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/halfmoon/js/halfmoon.min.js"></script>
<script src="https://unpkg.com/wavesurfer.js"></script>
@if (SignInManager.IsSignedIn(User))
{
    <script>
        window.userId = "@UserManager.FindByNameAsync(User.Identity.Name).Result.Id"
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}
<script src="~/js/color-mode.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>