@model supmusic.Controllers.PlaylistDetails

@{
    ViewData["Title"] = "Playlist details Page";
}

<div class="text-center mt-20" style="margin-bottom: 70px;">
    <div class="d-flex justify-content-center align-items-center">
        <h1>Playlist Details - @Html.DisplayFor(model => model.Playlist.Name)</h1>
        <button onclick="playPlaylist(@Model.Playlist.ID)" class="btn btn-success ml-10">
            <i class="fa fa-play"></i>
        </button>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="d-flex w-500 mt-5">
            <input id="searchSongInput" type="text" class="form-control" placeholder="Search songs to adding in playlist">
            <button type="button" onclick="searchSong()" class="btn btn-primary">Search</button>
        </div>
    </div>
    <div id="songsWrapper" class="w-full mt-5">
        @Html.AntiForgeryToken()
    </div>
    <div class="row mt-20">
        <div class="col">
            <h4>Songs</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @if (!Model.Songs.Any())
                    {
                        <div class="alert alert-primary" role="alert">
                            No song found
                        </div>
                    }
                    
                    @foreach (var item in Model.Songs)
                    {
                        <div class="card">
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-title mb-0">@Html.DisplayFor(model => item.Song.Name)</p>
                                <div class="d-flex align-items-center">
                                    <button onclick='playSong("@item.Song.Path")' class="btn btn-success mr-10">
                                        <i class="fa fa-play"></i>
                                    </button>
                                    <form asp-controller="Playlist" asp-action="DeleteSong" asp-route-id="@item.Playlist.ID" method="post">
                                        <input type="text" id="playlistSongId" name="playlistSongId" value="@item.Id" hidden="hidden">
                                        <button type="submit" class="btn btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
        </div>
    </div>
</div>

<script>
function searchSong() {
    const inputVal = $("#searchSongInput").val();
    const request = $.ajax({
       type: 'GET',
       url : window.location.origin + '/Playlist/SearchSong?name=' + inputVal,
    });
    request.done(function (response) {
        const playlistId = @Model.Playlist.ID;
        const csrfToken = $('input[name="__RequestVerificationToken"]').val();
        
        response.forEach(function (song) {
            $('#songsWrapper').html(`
                <div class="mb-30">
                    <div class="card">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">
                                ${song.name}
                            </h5>
                            <div class="d-flex align-items-center">
                                <button onclick='playSong("${song.path}")' class="btn btn-success mr-10">
                                   <i class="fa fa-play"></i>
                                </button>
                                <form action="/Playlist/AddSong/${playlistId}" method="post">
                                    <input name="__RequestVerificationToken" type="hidden" value="${csrfToken}" />
                                    <input type="text" id="songId" name="songId" value="${song.id}" hidden>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-plus"></i>                                    
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            `);
        });
    });
}
</script>